.box {
  display: inline-block;
  /* background: url("https://cloud.githubusercontent.com/assets/4652816/12771954/41dccb10-ca68-11e5-9db8-a473f51426c8.jpg"); */
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
}
.box figure {
  margin: 0;
  position: relative;
}

.wrap__canvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  /* pointer-events: none; */
}
canvas {
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
}
video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -50;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
